<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">

</head>
<body>
    <h1>HTML Array</h1>
    {{#each pars}}
    <div>{{this}}</div>
    {{/each}}

    <h1>HTML Single</h1>
    <p>{{par}}</p>

    <h1>Bools Array</h1>
    {{#each hasPs}}
    <div>{{this}}</div>
    {{/each}}

    <h1>Bools Single</h1>
    <p>{{hasP}}</p>

    <h1>Attrs Array</h1>
    {{#each attrs}}
    <div>{{this}}</div>
    {{/each}}

    <h1>Attrs Single</h1>
    <p>{{attr}}</p>

    <h1>Text Array</h1>
    {{#each texts}}
    <div>{{this}}</div>
    {{/each}}

    <h1>Text Single</h1>
    <p>{{text}}</p>

    <h1>outerhtml Array</h1>
    {{#each outerHtmls}}
    <div>{{this}}</div>
    {{/each}}

    <h1>outerhtml Single</h1>
    <p>{{outerHtml}}</p>

</body>
</html>
